<app-navbar-two></app-navbar-two>

<!-- Content area -->
<div *ngIf="!user" class="content d-flex justify-content-center align-items-center">

    <!-- Container -->
    <div class="flex-fill">

        <!-- Error title -->
        <div class="text-center mb-3">
            <h5>Please sign in for the full access</h5>
        </div>
        <!-- /error title -->


        <!-- Error content -->
        <div class="row">
            <div class="col-xl-4 offset-xl-4 col-md-8 offset-md-2">

                <!-- Buttons -->
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" class="btn bg-dark btn-block" routerLink="/login"><i class="icon-home4 mr-2"></i> Sign in</a>
                    </div>
                </div>
                <!-- /buttons -->

            </div>
        </div>
        <!-- /error wrapper -->

    </div>
    <!-- /container -->

</div>
<!-- /content area -->
