<div id="navArea" class="navbar-area navbar-style-two">
    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/global/img/nav_logo.png" alt="logo">
        </a>
    </div>

    <div *ngIf="user" class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/admin/users">
                    <h2 style="color: #9d9eaa;" class="m-0">Users</h2>
                </a>

                <div class="collapse navbar-collapse mean-menu p-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-xl-auto" *ngIf="user && user.token">
                        <li class="nav-item p-0">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                                <img
                                    src="../../../../assets/global/img/user.png"
                                    class="rounded-circle mr-2" height="25" alt="">
                                <span>{{user.userName}} </span>
                                <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link cursor-pointer" (click)="this.onLogout()">
                                        <i class="icon-switch2"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
