/*region Navbar*/
.nav-sidebar .nav-link i {
    margin-right: .75rem;
}

/*endregion*/

/*region Datatable*/
.dataTables_wrapper .datatable-header {
    /*padding-left: 0*/
}

.dataTables_wrapper .datatable-header .dt-buttons,
.dataTables_wrapper .datatable-header > button {
    float: left;
}

.dataTables_wrapper .datatable-header > button {
    margin-right: 15px;
}

.dataTables_wrapper .datatable-header .dataTables_filter {
    margin-left: 0;
}

/* Datatable menu actions */
.dataTables_wrapper .datatable-header .dt-buttons .dt-button-collection:not(.fixed) {
    left: 0 !important;
}

    .dataTables_wrapper .datatable-header .dt-buttons .dt-button-collection:not(.fixed) .dt-button span i {
        margin-right: 10px;
    }

    .dataTables_wrapper .datatable-header .dt-buttons .dt-button-collection:not(.fixed) .dt-button.buttons-collection span i.last-child {
        margin-right: 0;
        float: right;
    }

/* /datatable menu actions */

.dataTables_wrapper .datatable-scroll-wrap .dataTable thead th,
.dataTables_wrapper .datatable-scroll-wrap .dataTable tbody td {
    padding-right: 2.5rem;
}
/*endregion*/

/*region Modal*/
.modal.modal-right:not(.show) .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal .modal-dialog.modal-full-height {
    right: 0
}
/*endregion*/
