
.border-radius-50px {
    border-radius: 50px !important;
}

/*#region ltr*/
html[dir="ltr"] .border-top-left-radius-50px {
    border-top-left-radius: 50px 50px !important;
}

html[dir="ltr"] .border-bottom-left-radius-50px {
    border-bottom-left-radius: 50px 50px !important;
}

html[dir="ltr"] .border-top-right-radius-50px {
    border-top-right-radius: 50px 50px !important;
}

html[dir="ltr"] .border-bottom-right-radius-50px {
    border-bottom-right-radius: 50px 50px !important;
}

/*#endregion*/

/*#region rtlrtlrtl*/
html[dir="rtl"] .border-top-left-radius-50px {
    border-top-right-radius: 50px 50px !important;
}

html[dir="rtl"] .border-bottom-left-radius-50px {
    border-bottom-right-radius: 50px 50px !important;
}

html[dir="rtl"] .border-top-right-radius-50px {
    border-top-left-radius: 50px 50px !important;
}

html[dir="rtl"] .border-bottom-right-radius-50px {
    border-bottom-left-radius: 50px 50px !important;
}
/*#endregion*/
