
.f-10px {
    font-size: 10px;
}

.f-12px {
    font-size: 12px;
}

.f-13px {
    font-size: 13px;
}
.f-14px {
    font-size: 14px;
}

.f-15px {
    font-size: 15px;
}

.f-16px {
    font-size: 16px;
}

.f-17px {
    font-size: 17px;
}

.f-18px {
    font-size: 18px;
}

.f-19px {
    font-size: 19px;
}

.f-20px {
    font-size: 20px;
}

.f-24px {
    font-size: 24px;
}

.f-25px {
    font-size: 25px;
}

.f-50px {
    font-size: 50px;
}

.f-100px {
    font-size: 100px;
}

.f-125px {
    font-size: 125px;
}
