﻿/*#region per percent*/
.h-47 {
    height: 47% !important;
}
/*#endregion*/

/*#region per pixels*/
.h-20px {
    height: 20px !important;
}

.h-25px {
    height: 25px !important;
}

.h-30px {
    height: 30px !important;
}

.h-100px {
    height: 100px !important;
}

.h-200px {
    height: 200px !important;
}

.h-250px {
    height: 250px !important;
}


.h-600px {
    height: 600px !important;
}

.h-651px {
    height: 651px !important;
}
/*#endregion*/