/*#region Navbar*/
.navbar-brand {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.navbar-brand img {
    /*width: 40px;*/
    height: 40px;
}

/*#endregion*/

/*#region (negative - positive) tabs*/
.nav-tabs-positive-negative .nav-link:before {
    background-color: transparent;
    display: none
}

.nav-tabs-positive-negative .nav-link.positive.active {
    background-color: #26a69a;
    color: #fff
}

.nav-tabs-positive-negative .nav-link.negative.active {
    background-color: #d32f2f;
    color: #fff
}

/*#endregion*/

/*#region Datatable*/
.dataTables_wrapper .datatable-scroll-wrap .dataTable thead th,
.dataTables_wrapper .datatable-scroll-wrap .dataTable tbody td,
.dataTables_wrapper .datatable-scroll-wrap .dataTable tfoot th {
    padding: 0.5rem;
}

.dataTables_wrapper .datatable-header .dt-buttons > .dt-button.buttons-collection {
    transition: all .2s ease-in-out;
    z-index: 1
}

.dataTables_wrapper .datatable-header .dt-buttons > .dt-button.buttons-collection:hover {
    box-shadow: none !important;
    transform: scale(1.3);
}

.dataTables_wrapper .datatable-header .dt-buttons .dt-button-collection .dt-button span i.last-child {
    margin-right: 0;
    margin-top: 6px;
    font-size: 8px;
    float: right;
}

.dataTables_wrapper .datatable-header .dt-buttons .dt-button-collection .dt-button {
    padding: .5rem .75rem;
}

.dataTables_wrapper .datatable-header .dataTables_filter {
    transition: all .2s ease-in-out;
    z-index: 0
}

.dataTables_wrapper .datatable-header > button {
    z-index: 1
}

/*#endregion*/

/*#region Datatable actions menu*/
.dataTables_wrapper .datatable-scroll-wrap .dataTables_scroll .dataTables_scrollBody {
    min-height: 300px;
}

/*.datatable-footer > div:first-child,
.datatable-header > div:first-child {
    margin-left: 0;
}

.dataTables_filter {
    margin: 0
}

.dt-buttons {
    float: left;
}

    .dt-buttons .dt-button span i {
        margin-right: .75rem;
        margin-top: -3px;
    }

    .dt-buttons > .dt-button.buttons-collection span i {
        margin-right: 0;
    }

.dt-button-collection:not(.fixed) {
    left: 0 !important;
}*/

/*#endregion*/

/*#region Modal*/
.modal-backdrop {
    z-index: 0 !important;
}

.modal {
    z-index: 0;
}

.modal .modal-dialog {
    max-height: 100%;
}

.modal .modal-dialog.modal-full-height {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 400px;
    height: auto;
    min-height: 100%;
    top: 0;
}

.modal .modal-dialog.modal-full-height-middle {
    /*position: absolute;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /*display: flex;*/
    margin: auto;
    /*width: 400px;*/
    height: auto;
    min-height: 100%;
    top: 0;
}

.modal .modal-dialog.modal-width-base {
    width: 350px;
}

.modal .modal-dialog.modal-width-wide {
    width: 450px;
}

.modal .modal-dialog.modal-width-wider {
    width: 550px;
}

.modal .modal-dialog .modal-header {
    padding: .75rem;
}

.modal .modal-dialog .modal-footer {
    justify-content: flex-start;
}

/*#endregion*/

/*#region Pagination*/
.page-item.active .page-link {
    background-color: #fb7a00;
    border-color: #fb7a00;
    z-index: 0
}
/*#endregion*/

/*#region Fab menu*/
.fab-menu {
    z-index: 0
}
/*#endregion*/

/*#region .select2-multiple*/
.select2-selection--multiple {
    border-bottom: 1px solid #ddd;
    /*border-bottom: 1px solid;*/
}

.select2-selection--multiple .select2-selection__choice:focus, .select2-selection--multiple .select2-selection__choice:hover {
    background-color: #324148;
    color: #fff;
}

/*#endregion*/






