.alert {
    position: fixed !important;
    width: 20% !important;
    bottom: 10px;
    z-index: 1;
    border: 0 !important;
    font-weight: 500;
    color: #ffffff !important;
}

.alert-success {
    background-color: #009688 !important;
}

.alert-danger {
    background-color: #d32f2f !important;
}

.alert .close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: .75;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    cursor: pointer;
}

:host-context([dir='ltr']) .alert {
    left: 10px;
    text-align: left;
}

:host-context([dir='ltr']) .alert .close {
    float: right;
}

:host-context([dir='rtl']) .alert {
    right: 10px;
    text-align: right;
}

:host-context([dir='rtl']) .alert .close {
    float: left;
}
