.bootstrap-switch {
    margin: 0 auto;
    display: block;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-bg-teal-400 {
    color: #fff;
    background: #26a69a;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-bg-danger-700 {
    color: #fff;
    background: #d32f2f;
}
