<ng-template #addEditModal let-$modal>
    <form [formGroup]="form" (ngSubmit)="this.onSubmit()">
        <div class="modal-header bg-custom-color">
            <h4 class="modal-title" *ngIf="isAddMode">Add user</h4>
            <h4 class="modal-title" *ngIf="!isAddMode">Edit user</h4>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" (click)="$modal.close()">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-auto">
            <input id="id" type="text" class="form-control d-none" formControlName="id"/>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="firstName">First name</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="firstName" type="text" class="form-control" formControlName="firstName"
                                   [ngClass]="{
                                       'border-success': (userForm.firstName.dirty || submitted) && userForm.firstName.valid,
                                       'border-danger': (userForm.firstName.dirty || submitted) && userForm.firstName.invalid
                                   }"/>

                            <span *ngIf="(userForm.firstName.dirty || submitted) && userForm.firstName.invalid" class="text-danger">
                                <span *ngIf="userForm.firstName.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.firstName.dirty || submitted) && userForm.firstName.invalid, 'text-success': (userForm.firstName.dirty || submitted) && userForm.firstName.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.firstName.dirty || submitted) && userForm.firstName.invalid, 'icon-checkmark-circle': (userForm.firstName.dirty || submitted) && userForm.firstName.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="lastName">Last name</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="lastName" type="text" class="form-control" formControlName="lastName"
                                   [ngClass]="{
                                       'border-success': (userForm.lastName.dirty || submitted) && userForm.lastName.valid,
                                       'border-danger': (userForm.lastName.dirty || submitted) && userForm.lastName.invalid
                                   }"/>

                            <span *ngIf="(userForm.lastName.dirty || submitted) && userForm.lastName.invalid" class="text-danger">
                                <span *ngIf="userForm.lastName.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.lastName.dirty || submitted) && userForm.lastName.invalid, 'text-success': (userForm.lastName.dirty || submitted) && userForm.lastName.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.lastName.dirty || submitted) && userForm.lastName.invalid, 'icon-checkmark-circle': (userForm.lastName.dirty || submitted) && userForm.lastName.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="userName">User name</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="userName" type="text" class="form-control" formControlName="userName"
                                   [ngClass]="{
                                       'border-success': (userForm.userName.dirty || submitted) && userForm.userName.valid,
                                       'border-danger': (userForm.userName.dirty || submitted) && userForm.userName.invalid
                                   }"/>

                            <span *ngIf="(userForm.userName.dirty || submitted) && userForm.userName.invalid" class="text-danger">
                                <span *ngIf="userForm.userName.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.userName.dirty || submitted) && userForm.userName.invalid, 'text-success': (userForm.userName.dirty || submitted) && userForm.userName.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.userName.dirty || submitted) && userForm.userName.invalid, 'icon-checkmark-circle': (userForm.userName.dirty || submitted) && userForm.userName.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="roleId">Account type</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <ng-select *ngIf="isAddMode"
                                       id="roleId"
                                       class="pb-0 mt-1"
                                       formControlName="roleId"
                                       [items]="rolesPickList | async"
                                       [(ngModel)]="roleId"
                                       bindValue="id"
                                       bindLabel="text"
                                       autofocus
                            >
                            </ng-select>

                            <ng-select *ngIf="!isAddMode"
                                       id="roleId"
                                       class="pb-0 mt-1"
                                       formControlName="roleId"
                                       [items]="rolesPickList | async"
                                       bindValue="id"
                                       bindLabel="text"
                                       autofocus
                            >
                            </ng-select>

                            <span *ngIf="(userForm.roleId.dirty || submitted) && userForm.roleId.invalid" class="text-danger">
                                <span *ngIf="userForm.roleId.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.roleId.dirty || submitted) && userForm.roleId.invalid, 'text-success': (userForm.roleId.dirty || submitted) && userForm.roleId.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.roleId.dirty || submitted) && userForm.roleId.invalid, 'icon-checkmark-circle': (userForm.roleId.dirty || submitted) && userForm.roleId.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="email">Email</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="email" type="text" class="form-control" formControlName="email"
                                   [ngClass]="{
                                       'border-success': (userForm.email.dirty || submitted) && userForm.email.valid,
                                       'border-danger': (userForm.email.dirty || submitted) && userForm.email.invalid
                                   }"/>

                            <span *ngIf="(userForm.email.dirty || submitted) && userForm.email.invalid" class="text-danger">
                                <span *ngIf="userForm.email.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.email.dirty || submitted) && userForm.email.invalid, 'text-success': (userForm.email.dirty || submitted) && userForm.email.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.email.dirty || submitted) && userForm.email.invalid, 'icon-checkmark-circle': (userForm.email.dirty || submitted) && userForm.email.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="age">Age</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="age" type="number" class="form-control" formControlName="age"
                                   [ngClass]="{
                                       'border-success': (userForm.age.dirty || submitted) && userForm.age.valid,
                                       'border-danger': (userForm.age.dirty || submitted) && userForm.age.invalid
                                   }"/>

                            <span *ngIf="(userForm.age.dirty || submitted) && userForm.age.invalid" class="text-danger">
                                <span *ngIf="userForm.age.errors.required">This field is required</span>
                                <span *ngIf="userForm.age.errors.min">Min value is {{userForm.age.errors.min.min}}</span>
                                <span *ngIf="userForm.age.errors.max">Max value is {{userForm.age.errors.max.max}}</span>
                            </span>

                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.age.dirty || submitted) && userForm.age.invalid, 'text-success': (userForm.age.dirty || submitted) && userForm.age.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.age.dirty || submitted) && userForm.age.invalid, 'icon-checkmark-circle': (userForm.age.dirty || submitted) && userForm.age.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="phoneNumber">Phone number</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber"
                                   [ngClass]="{
                                       'border-success': (userForm.phoneNumber.dirty || submitted) && userForm.phoneNumber.valid,
                                       'border-danger': (userForm.phoneNumber.dirty || submitted) && userForm.phoneNumber.invalid
                                   }"/>

                            <span *ngIf="(userForm.phoneNumber.dirty || submitted) && userForm.phoneNumber.invalid" class="text-danger">
                                <span *ngIf="userForm.phoneNumber.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.phoneNumber.dirty || submitted) && userForm.phoneNumber.invalid, 'text-success': (userForm.phoneNumber.dirty || submitted) && userForm.phoneNumber.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.phoneNumber.dirty || submitted) && userForm.phoneNumber.invalid, 'icon-checkmark-circle': (userForm.phoneNumber.dirty || submitted) && userForm.phoneNumber.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="mobileNumber">Mobile number</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="mobileNumber" type="text" class="form-control" formControlName="mobileNumber"
                                   [ngClass]="{
                                       'border-success': (userForm.mobileNumber.dirty || submitted) && userForm.mobileNumber.valid,
                                       'border-danger': (userForm.mobileNumber.dirty || submitted) && userForm.mobileNumber.invalid
                                   }"/>

                            <span *ngIf="(userForm.mobileNumber.dirty || submitted) && userForm.mobileNumber.invalid" class="text-danger">
                                <span *ngIf="userForm.mobileNumber.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.mobileNumber.dirty || submitted) && userForm.mobileNumber.invalid, 'text-success': (userForm.mobileNumber.dirty || submitted) && userForm.mobileNumber.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.mobileNumber.dirty || submitted) && userForm.mobileNumber.invalid, 'icon-checkmark-circle': (userForm.mobileNumber.dirty || submitted) && userForm.mobileNumber.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="address">Address</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="address" type="text" class="form-control" formControlName="address"
                                   [ngClass]="{
                                       'border-success': (userForm.address.dirty || submitted) && userForm.address.valid,
                                       'border-danger': (userForm.address.dirty || submitted) && userForm.address.invalid
                                   }"/>

                            <span *ngIf="(userForm.address.dirty || submitted) && userForm.address.invalid" class="text-danger">
                                <span *ngIf="userForm.address.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.address.dirty || submitted) && userForm.address.invalid, 'text-success': (userForm.address.dirty || submitted) && userForm.address.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.address.dirty || submitted) && userForm.address.invalid, 'icon-checkmark-circle': (userForm.address.dirty || submitted) && userForm.address.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group text-center text-muted content-divider mt-2 mb-3 w-100" *ngIf="isAddMode">
                        <span class="px-2">If password not set, The default password is the user name</span>
                    </div>

                    <div class="form-group text-center text-muted content-divider mt-2 mb-3 w-100" *ngIf="!isAddMode">
                        <span class="px-2">If password not set, The password won\'t change</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0" for="password">Password</label>
                        <!--                        <span class="text-danger"> * </span>-->

                        <div class="form-group-feedback form-group-feedback-right">
                            <input id="password" type="text" class="form-control" formControlName="password"
                                   [ngClass]="{
                                       'border-success': (userForm.password.dirty || submitted) && userForm.password.valid,
                                       'border-danger': (userForm.password.dirty || submitted) && userForm.password.invalid
                                   }"/>

                            <span *ngIf="(userForm.password.dirty || submitted) && userForm.password.invalid" class="text-danger">
                                <span *ngIf="userForm.password.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (userForm.password.dirty || submitted) && userForm.password.invalid, 'text-success': (userForm.password.dirty || submitted) && userForm.password.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (userForm.password.dirty || submitted) && userForm.password.invalid, 'icon-checkmark-circle': (userForm.password.dirty || submitted) && userForm.password.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn bg-custom-color legitRipple" [disabled]="loading" *ngIf="isAddMode"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Add</button>
            <button type="submit" class="btn bg-custom-color legitRipple" [disabled]="loading" *ngIf="!isAddMode"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Edit</button>
            <button type="button" class="btn btn-outline bg-custom-color text-custom-color border-custom-color border-2 legitRipple" (click)="$modal.close()">Close</button>
        </div>
    </form>
</ng-template>
