﻿<ng-template #deleteConfirmationModal let-$modal>
    <div class="modal-header bg-danger-700">
        <h4 class="modal-title">Delete confirmation</h4>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="text-center" style="color: black">Do you want to delete the entity that has the id <strong>/{{id}}/</strong></h5>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn bg-danger-700 legitRipple" [disabled]="loading" (click)="this.onSubmit()"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Delete</button>
        <button type="button" class="btn btn-outline bg-danger-700 text-danger-700 border-danger-700 border-2 legitRipple" (click)="$modal.close()">Close</button>
    </div>
</ng-template>

